body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
color: #333333;
background-color: #f2f2eb;
}

h2{
font-size: 170%;
font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
color: #000000;
  /* La marge en haut et en bas de l'élément h1 est fixée à 16 pixels */
margin-left: 40px;
/* La taille de la police est fixée à 24 pixels */
}

.b { 
  position: relative;
  margin-top: 5%;
  text-align: center; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
  font-size: 110%; 
  /* 2% of the viewport width */ 
}
.b2 {
  position: relative; 
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
  font-size: 90%; 
  text-align: justify; 
}


#Projets1{
  display: block;
text-align: center;
margin-left: 3%;
margin-right: 3%;
margin-top: 5%;
}


.box-Projets {
    display:inline-block;
    text-align: left;
    overflow: auto;
    word-break: break-word;
    margin: 1%;
    width: 300px; 
    height: auto;
    padding-bottom: 1%;
    border-radius: 10px;
    color: black;
    border: 0.5px solid #c1bfba;    
    }
.app-blockd1 {
  justify-content: center;
  background-color: #fff;
  border: 0.5px solid #c1bfba;
  color: black;
  margin: 2%;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
}

.app-blockd1-text {
  margin-left: 50%;
  transform: translateX(-50%);
}

.img-app {
height: auto;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.box-app-int {
    position: relative;
    text-align: none;
    overflow: auto;
    margin: 5%;
    width: 90%; 
    height: auto;
    border-radius: 10px;
    color: #fff;
}

.color-app-int {
    background-color: #fff; /* couleur de fond du premier carré */
}
.exit{
            position: absolute;
            text-decoration: none;
            top: 2%;
            margin-left: 2%;
            padding: 12px 20px;
            background-color: #1D3C6F;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .exit:hover {
          background: #C0D6DF;
  color: black;
        }
